*{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy-Regular', sans-serif;
    /* background: #151515; */
}

#camera-section {
position: relative;
  height: 250vh;        /* CAMERA VIEWPORT */
  overflow: hidden; /* scroll space */
  padding: 24px;
  }

#world {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    will-change: transform;
    padding-bottom: 200px;
}


#svg-path {
    position: relative;
    width: 100%;
    height: 200vh;  /* IMPORTANT: give scroll space */
    overflow: hidden; 
  }
  
  #svg-path svg {
    position: absolute;
    inset: 0;
    top: 0;  
    left: 0;
    width: 100%;
    height: 100%;
  }
  .ball {
    position: abso;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: white;
    transform: translate(-50%, -50%);
  }
  


